{% extends "layout.html" %}

{% block content %}
  <form method="POST" action="{{endpoint}}" enctype="multipart/form-data">
    <hr>
    <div class="form-group">
      <label for="name">Nom du type</label>
      <input type="text" id="name" name="name" class="form-control" value="{{type.name}}">
      <hr>
    </div>
    <div class="form-group">
      <label for="name">Couleur du type</label>
      <input type="text" id="color" name="color" class="form-control" value="{{type.color}}">
      <hr>
    </div>
    <input type="submit" class="btn btn-primary" value="Enregistrer">
  </form>
{% endblock %}